# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore large CSV and model files
data/train.csv
data/*.pkl

# Keep only necessary output
!data/batch_predictions.csv

# Ignore node_modules
frontend/node_modules

# Ignore logs and other junk
*.log
.DS_Store
venv/ 
node_modules/ 
